---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Σχετικά με το gov.gr – gov.gr"
  breadcrumbs={[
    { text: 'Αρχική', href: '/' },
    { text: 'Βοήθεια', href: '/help' },
    { text: 'Σχετικά με το gov.gr' },
  ]}
>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Σχετικά με το gov.gr</h1>

        <p class="govuk-body">
          Το gov.gr είναι ο επίσημος ιστότοπος της ελληνικής κυβέρνησης. Είναι ο καλύτερος τρόπος να βρείτε κυβερνητικές υπηρεσίες και πληροφορίες.
        </p>

        <p class="govuk-body">
          Ο ιστότοπος συντηρείται από το
          <a class="govuk-link" href="/government/organisations/ministry-of-digital-governance">Υπουργείο Ψηφιακής Διακυβέρνησης (ΥΨΔ)</a>.
        </p>

        <h2 class="govuk-heading-l" id="ti-uparxei">Τι υπάρχει στο gov.gr</h2>

        <p class="govuk-body">Μπορείτε να βρείτε:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>πληροφορίες και υπηρεσίες για πολίτες και επιχειρήσεις</li>
          <li>λεπτομερείς οδηγίες για επαγγελματίες</li>
          <li>πληροφορίες για την κυβέρνηση και την πολιτική</li>
        </ul>

        <h2 class="govuk-heading-l" id="pos-enimeronetai">Πώς ενημερώνεται το gov.gr</h2>

        <p class="govuk-body">
          Συνεργαζόμαστε στενά με κάθε υπουργείο και δημόσιο φορέα για να διασφαλίσουμε ότι όλες οι πληροφορίες στο gov.gr είναι ακριβείς και ενημερωμένες.
        </p>

        <p class="govuk-body">
          Το gov.gr ενημερώνεται επίσης με βάση τα αποτελέσματα έρευνας χρηστών και τα σχόλια από πολίτες.
        </p>

        <h2 class="govuk-heading-l" id="parakolouthisi-xriston">Παρακολούθηση χρηστών</h2>

        <p class="govuk-body">
          Παρακολουθούμε τον τρόπο που χρησιμοποιείτε το gov.gr, αλλά δεν συλλέγουμε ούτε αποθηκεύουμε τα προσωπικά σας στοιχεία (όπως το όνομα ή η διεύθυνσή σας) κατά την περιήγησή σας. Αυτό σημαίνει ότι δεν μπορείτε να ταυτοποιηθείτε προσωπικά.
        </p>

        <p class="govuk-body">Χρησιμοποιούμε λογισμικό Google Analytics για να παρακολουθούμε:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>ποιες σελίδες επισκέπτεστε</li>
          <li>πόση ώρα χρησιμοποιείτε τον ιστότοπο</li>
          <li>πώς φτάσατε στον ιστότοπο και σε ποιους συνδέσμους κάνατε κλικ</li>
        </ul>

        <p class="govuk-body">Δεν επιτρέπουμε στην Google να μοιράζεται αυτά τα δεδομένα με τρίτους.</p>

        <h2 class="govuk-heading-l" id="epanahrisimopoiisi">Επαναχρησιμοποίηση περιεχομένου του gov.gr</h2>

        <p class="govuk-body">
          Μπορείτε να αναδημοσιεύσετε οποιοδήποτε περιεχόμενο του gov.gr, εφόσον πληροίτε τις προϋποθέσεις της
          <a class="govuk-link" rel="external" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 (CC BY 4.0)</a>.
        </p>

        <h2 class="govuk-heading-l" id="sundesmoi-allon-istotopon">Σύνδεσμοι σε άλλους ιστότοπους από το gov.gr</h2>

        <p class="govuk-body">
          Το gov.gr παρέχει συνδέσμους σε εξωτερικούς οργανισμούς όταν αυτός ο σύνδεσμος είναι απαραίτητος για να βοηθήσει κάποιον να ολοκληρώσει μια εργασία που ξεκίνησε στον ιστότοπο.
        </p>

        <p class="govuk-body">
          Για παράδειγμα, υπάρχει σύνδεσμος από το περιεχόμενο για φορολογικές δηλώσεις προς τον ιστότοπο της Ανεξάρτητης Αρχής Δημοσίων Εσόδων (ΑΑΔΕ).
        </p>

        <p class="govuk-body">Θα εξετάσουμε αιτήματα συνδέσμων μόνο εφόσον ο ιστότοπος εντάσσεται σε αυτή την «απαραίτητη» κατηγορία.</p>

        <p class="govuk-body">
          Μπορείτε να <a class="govuk-link" href="/contact">ζητήσετε να προστεθεί σύνδεσμος</a> στο gov.gr.
        </p>

        <h2 class="govuk-heading-l" id="sunola-dedomenon">Σύνολα δεδομένων στο gov.gr</h2>

        <p class="govuk-body">Το gov.gr χρησιμοποιεί αρκετά σύνολα δεδομένων για να βελτιώσει τον ιστότοπο.</p>

        <p class="govuk-body">
          Για παράδειγμα, τα δεδομένα χρησιμοποιούνται για να σας κατευθύνουν στον ιστότοπο του οικείου Δήμου σας αν θέλετε να ενημερωθείτε για τοπικές υπηρεσίες.
        </p>

        <p class="govuk-body">Χρησιμοποιούμε:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" rel="external" href="https://www.ypes.gr/topiki-aftodiikisi/">Μητρώο Δήμων και Κοινοτήτων</a>
            από το <a class="govuk-link" rel="external" href="https://www.ypes.gr/">Υπουργείο Εσωτερικών</a>
          </li>
          <li>
            <a class="govuk-link" rel="external" href="https://www.statistics.gr/">Γεωγραφικά δεδομένα και στατιστικά στοιχεία</a>
            από την <a class="govuk-link" rel="external" href="https://www.statistics.gr/">Ελληνική Στατιστική Αρχή (ΕΛΣΤΑΤ)</a>
          </li>
          <li>
            <a class="govuk-link" rel="external" href="https://geodata.gov.gr/">Εθνικό Γεωδαιτικό Πλαίσιο Αναφοράς</a>
            από το <a class="govuk-link" rel="external" href="https://www.okxe.gr/">Εθνικό Κτηματολόγιο &amp; Χαρτογράφηση (ΕΚΧΑ)</a>
          </li>
        </ul>

        <div class="gem-c-published-dates govuk-!-margin-top-6">
          <p class="govuk-body govuk-!-font-size-16 govuk-!-colour-secondary">
            Τελευταία ενημέρωση: 12 Ιουνίου 2026
          </p>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="govuk-!-margin-top-6">
          <h2 class="govuk-heading-s">Σχετικό περιεχόμενο</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="/help/privacy-notice">Ειδοποίηση απορρήτου</a></li>
            <li><a class="govuk-link" href="/help/terms-conditions">Όροι χρήσης</a></li>
          </ul>
        </aside>
      </div>

    </div>
  </div>
</Layout>
