---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Φυλλομετρητές – gov.gr"
  breadcrumbs={[
    { text: 'Αρχική', href: '/' },
    { text: 'Βοήθεια', href: '/help' },
    { text: 'Φυλλομετρητές' },
  ]}
>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Φυλλομετρητές</h1>

        <p class="govuk-body">
          Εάν ο φυλλομετρητής σας (το λογισμικό που χρησιμοποιείτε για πρόσβαση στο διαδίκτυο) είναι παλιός, θα πρέπει να:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>τον ενημερώσετε στην πιο πρόσφατη έκδοση</li>
          <li>ή να αλλάξετε σε νέο φυλλομετρητή</li>
        </ul>

        <p class="govuk-body">Αυτό θα σημαίνει ότι:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>ο υπολογιστής σας θα είναι πιο ασφαλής και λιγότερο ευάλωτος σε επιθέσεις</li>
          <li>η περιήγηση στο διαδίκτυο θα είναι πιο γρήγορη</li>
          <li>θα βλέπετε περισσότερες λειτουργίες σε πολλούς ιστότοπους</li>
        </ul>

        <p class="govuk-body">
          Ο φυλλομετρητής σας ενημερώνεται συχνά αυτόματα, αλλά μπορείτε επίσης να ελέγξετε και να εγκαταστήσετε ενημερώσεις χειροκίνητα.
        </p>

        <h2 class="govuk-heading-l" id="pos-na-allaksete-fyllo">Πώς να αλλάξετε σε νέο φυλλομετρητή</h2>

        <p class="govuk-body">Επιλέξτε έναν φυλλομετρητή από την παρακάτω λίστα και ακολουθήστε τις οδηγίες εγκατάστασής του.</p>

        <h3 class="govuk-heading-m" id="gia-ola-ta-upologistika-systimata">Για όλα τα υπολογιστικά συστήματα (Windows, Mac, Linux)</h3>

        <p class="govuk-body">Μπορείτε να χρησιμοποιήσετε:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" rel="external" href="https://www.google.com/chrome/">Google Chrome</a></li>
          <li><a class="govuk-link" rel="external" href="https://www.mozilla.org/el/firefox/new/">Mozilla Firefox</a></li>
        </ul>

        <h3 class="govuk-heading-m" id="gia-mac">Για Mac</h3>

        <p class="govuk-body">
          Μπορείτε επίσης να χρησιμοποιήσετε <a class="govuk-link" rel="external" href="https://support.apple.com/el-gr/safari">Safari</a> ή <a class="govuk-link" rel="external" href="https://www.microsoft.com/el-gr/edge">Microsoft Edge</a>.
        </p>

        <h3 class="govuk-heading-m" id="gia-windows">Για Windows</h3>

        <p class="govuk-body">
          Μπορείτε επίσης να χρησιμοποιήσετε <a class="govuk-link" rel="external" href="https://www.microsoft.com/el-gr/edge">Microsoft Edge</a>.
        </p>

        <h3 class="govuk-heading-m" id="gia-kinites-syskeyes">Για κινητές συσκευές</h3>

        <p class="govuk-body">Μπορείτε να λάβετε βοήθεια:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>από την Apple για να <a class="govuk-link" rel="external" href="https://support.apple.com/el-gr/111900">ενημερώσετε τη συσκευή σας iOS</a></li>
          <li>από την Google για να <a class="govuk-link" rel="external" href="https://support.google.com/googleplay/answer/113412?hl=el">ενημερώσετε τις εφαρμογές σας Android</a></li>
        </ul>

        <h2 class="govuk-heading-l" id="peraitero-voitheia">Περαιτέρω βοήθεια</h2>

        <p class="govuk-body">
          Η <a class="govuk-link" rel="external" href="https://www.enisa.europa.eu/topics/cybersecurity-education/awareness">Εθνική Αρχή Κυβερνοασφάλειας</a> παρέχει βοήθεια και συμβουλές για την αναβάθμιση του φυλλομετρητή σας και την ασφάλεια στο διαδίκτυο.
        </p>

        <div class="govuk-!-margin-top-6">
          <p class="govuk-body govuk-!-font-size-16 govuk-!-colour-secondary">
            Τελευταία ενημέρωση: 12 Ιουνίου 2026
          </p>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="govuk-!-margin-top-6">
          <h2 class="govuk-heading-s">Σχετικό περιεχόμενο</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="/help/about-govgr">Σχετικά με το gov.gr</a></li>
          </ul>
        </aside>
      </div>

    </div>
  </div>
</Layout>
