---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Βοήθεια – gov.gr"
  breadcrumbs={[
    { text: 'Αρχική', href: '/' },
    { text: 'Βοήθεια' },
  ]}
>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Βοήθεια χρησιμοποιώντας το gov.gr</h1>

        <p class="govuk-body">
          Βρείτε πληροφορίες για το gov.gr, συμπεριλαμβανομένης της χρήσης cookies, της προσβασιμότητας, της πολιτικής απορρήτου και των όρων χρήσης.
        </p>

        <ul class="govuk-list help-list">
          <li class="help-list__item">
            <a class="govuk-link govuk-!-font-weight-bold" href="/help/about-govgr">Σχετικά με το gov.gr</a>
            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
              Πληροφορίες για τον ιστότοπο και την ομάδα που τον αναπτύσσει.
            </p>
          </li>
          <li class="help-list__item">
            <a class="govuk-link govuk-!-font-weight-bold" href="/help/accessibility-statement">Δήλωση προσβασιμότητας</a>
            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
              Λεπτομέρειες για την προσβασιμότητα και βοήθεια στη χρήση του διαδικτύου.
            </p>
          </li>
          <li class="help-list__item">
            <a class="govuk-link govuk-!-font-weight-bold" href="/help/beta">Δοκιμαστικές υπηρεσίες στο gov.gr</a>
            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
              Πώς αναπτύσσονται οι νέες υπηρεσίες στο gov.gr και τι σημαίνει αυτό για τους χρήστες.
            </p>
          </li>
          <li class="help-list__item">
            <a class="govuk-link govuk-!-font-weight-bold" href="/help/browsers">Φυλλομετρητές</a>
            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
              Πληροφορίες για τους φυλλομετρητές και οδηγίες για την αναβάθμισή τους.
            </p>
          </li>
          <li class="help-list__item">
            <a class="govuk-link govuk-!-font-weight-bold" href="/help/cookies">Cookies</a>
            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
              Πώς χρησιμοποιούνται τα cookies στο gov.gr και ο σκοπός κάθε cookie.
            </p>
          </li>
          <li class="help-list__item">
            <a class="govuk-link govuk-!-font-weight-bold" href="/help/get-emails-about-updates-to-govgr">Ειδοποιήσεις email του gov.gr</a>
            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
              Πώς να δημιουργήσετε λογαριασμό ειδοποιήσεων και να ενημερώσετε τις προτιμήσεις σας.
            </p>
          </li>
          <li class="help-list__item">
            <a class="govuk-link govuk-!-font-weight-bold" href="/help/privacy-notice">Ειδοποίηση απορρήτου</a>
            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
              Η προσέγγιση του gov.gr στην προστασία των προσωπικών δεδομένων των χρηστών.
            </p>
          </li>
          <li class="help-list__item">
            <a class="govuk-link govuk-!-font-weight-bold" href="/help/report-vulnerability">Αναφορά ευπάθειας σε τομέα gov.gr</a>
            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
              Πώς να αναφέρετε μια ευπάθεια ασφαλείας στο gov.gr.
            </p>
          </li>
          <li class="help-list__item">
            <a class="govuk-link govuk-!-font-weight-bold" href="/help/reuse-govgr-content">Επαναχρησιμοποίηση περιεχομένου gov.gr</a>
            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
              Πώς να επαναχρησιμοποιήσετε περιεχόμενο του gov.gr μέσω APIs.
            </p>
          </li>
          <li class="help-list__item">
            <a class="govuk-link govuk-!-font-weight-bold" href="/help/terms-conditions">Όροι χρήσης</a>
            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
              Πληροφορίες για τη χρήση του gov.gr και ευθύνες.
            </p>
          </li>
        </ul>

      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="govuk-!-margin-top-6">
          <h2 class="govuk-heading-s">Σχετικό περιεχόμενο</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="/contact">Επικοινωνία με κυβερνητικές υπηρεσίες</a></li>
          </ul>
        </aside>
      </div>

    </div>
  </div>
</Layout>

<style>
  .help-list {
    margin-top: 0;
    padding: 0;
    list-style: none;
  }

  .help-list__item {
    padding: 15px 0;
    border-top: 1px solid #b1b4b6;
  }

  .help-list__item:last-child {
    border-bottom: 1px solid #b1b4b6;
  }
</style>
