---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Ειδοποίηση απορρήτου – gov.gr"
  breadcrumbs={[
    { text: 'Αρχική', href: '/' },
    { text: 'Βοήθεια', href: '/help' },
    { text: 'Ειδοποίηση απορρήτου' },
  ]}
>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Ειδοποίηση απορρήτου</h1>

        <p class="govuk-body">
          Το gov.gr (ή www.gov.gr) παρέχεται από το Υπουργείο Ψηφιακής Διακυβέρνησης (<abbr title="Υπουργείο Ψηφιακής Διακυβέρνησης">ΥΨΔ</abbr>).
        </p>

        <p class="govuk-body">
          Το <abbr title="Υπουργείο Ψηφιακής Διακυβέρνησης">ΥΨΔ</abbr> και άλλα κυβερνητικά υπουργεία, υπηρεσίες και οργανισμοί είναι από κοινού υπεύθυνοι επεξεργασίας για σελίδες που ξεκινούν με «www.gov.gr».
        </p>

        <p class="govuk-body">
          Εάν ακολουθήσετε έναν σύνδεσμο σε υπηρεσία άλλου κυβερνητικού υπουργείου, υπηρεσίας ή ΟΤΑ, ο αντίστοιχος οργανισμός θα:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>είναι ο υπεύθυνος επεξεργασίας δεδομένων</li>
          <li>είναι υπεύθυνος για την επεξεργασία οποιωνδήποτε δεδομένων μοιραστείτε μαζί του</li>
          <li>δημοσιεύει και διαχειρίζεται τη δική του ειδοποίηση απορρήτου με στοιχεία επικοινωνίας</li>
        </ul>

        <div class="govuk-inset-text">
          <p class="govuk-body"><strong>Παράδειγμα</strong></p>
          <p class="govuk-body">
            Εάν υποβάλετε φορολογική δήλωση μέσω της υπηρεσίας myTAXISnet της ΑΑΔΕ, η Ανεξάρτητη Αρχή Δημοσίων Εσόδων θα είναι ο αρμόδιος υπεύθυνος επεξεργασίας. Θα εφαρμόζεται η δική της ειδοποίηση απορρήτου.
          </p>
        </div>

        <p class="govuk-body">Ο υπεύθυνος επεξεργασίας καθορίζει τον τρόπο και τον σκοπό επεξεργασίας των προσωπικών δεδομένων.</p>

        <h2 class="govuk-heading-l" id="poion-dedomenon-sullegoume">Ποια δεδομένα συλλέγουμε</h2>

        <p class="govuk-body">Τα προσωπικά δεδομένα που συλλέγουμε από εσάς περιλαμβάνουν:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>ερωτήσεις, αιτήματα ή σχόλια που αφήνετε, συμπεριλαμβανομένης της διεύθυνσης email σας εάν επικοινωνήσετε με το gov.gr</li>
          <li>τον ΤΚ ή τη διεύθυνσή σας εάν χρησιμοποιείτε υπηρεσία του gov.gr που περιλαμβάνει αναζήτηση ΤΚ ή διεύθυνσης</li>
          <li>τη διεύθυνση email σας και τις προτιμήσεις συνδρομής εάν εγγραφείτε στις ειδοποιήσεις email μας</li>
          <li>τον τρόπο που χρησιμοποιείτε τα email μας — για παράδειγμα, αν τα ανοίγετε και σε ποιους συνδέσμους κάνετε κλικ</li>
          <li>τη διεύθυνση <abbr title="Internet Protocol">IP</abbr> σας και λεπτομέρειες για την έκδοση του <a class="govuk-link" href="/help/browsers">φυλλομετρητή</a> που χρησιμοποιείτε</li>
          <li>πληροφορίες για τον τρόπο χρήσης του ιστότοπου, μέσω <a class="govuk-link" href="/help/cookies">cookies</a> και τεχνικών επισήμανσης σελίδων</li>
        </ul>

        <p class="govuk-body">
          Όπου παρέχετε τη συγκατάθεσή σας, χρησιμοποιούμε cookies
          <a class="govuk-link" rel="external" href="https://support.google.com/analytics/topic/2919631">Google Analytics</a>
          για να συλλέγουμε πληροφορίες σχετικά με τον τρόπο που χρησιμοποιείτε το gov.gr.
        </p>

        <p class="govuk-body">Το Google Analytics επεξεργάζεται πληροφορίες σχετικά με:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>τις σελίδες που επισκέπτεστε στο gov.gr</li>
          <li>πόσο χρόνο αφιερώνετε σε κάθε σελίδα του gov.gr</li>
          <li>πώς φτάσατε στον ιστότοπο</li>
          <li>τι κάνετε κλικ κατά την επίσκεψή σας</li>
        </ul>

        <p class="govuk-body">Λαμβάνουμε επίσης τις ίδιες πληροφορίες από άλλες κυβερνητικές ψηφιακές υπηρεσίες.</p>

        <p class="govuk-body">
          Διασφαλίζουμε ότι δεν μπορείτε να αναγνωριστείτε άμεσα από δεδομένα Google Analytics. Αυτό το κάνουμε:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>λαμβάνοντας όλα τα εύλογα μέτρα για την αφαίρεση ή μείωση προσωπικών πληροφοριών στα αναλυτικά δεδομένα, π.χ. από τίτλους σελίδων ή URLs</li>
          <li>μη αποθηκεύοντας διευθύνσεις <abbr title="Internet Protocol">IP</abbr> στο Google Analytics</li>
          <li>μη συνδυάζοντας αναλυτικές πληροφορίες με άλλα σύνολα δεδομένων κατά τρόπο που θα σας ταυτοποιούσε άμεσα</li>
        </ul>

        <p class="govuk-body">
          <a class="govuk-link" href="/help/cookies">Μάθετε περισσότερα για τον τρόπο χρήσης του Google Analytics και άλλων cookies στο gov.gr</a>.
        </p>

        <h2 class="govuk-heading-l" id="giati-xreiazetai-ta-dedomena-sas">Γιατί χρειαζόμαστε τα δεδομένα σας</h2>

        <p class="govuk-body">Συλλέγουμε τα προσωπικά σας δεδομένα προκειμένου να:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>συγκεντρώνουμε σχόλια για τη βελτίωση των υπηρεσιών μας, όπως οι ειδοποιήσεις email</li>
          <li>απαντάμε σε τυχόν σχόλια που μας αποστέλλετε, εφόσον μας το έχετε ζητήσει</li>
          <li>αποστέλλουμε ειδοποιήσεις email σε χρήστες που τις ζητούν</li>
          <li>σας επιτρέπουμε πρόσβαση σε κυβερνητικές υπηρεσίες και συναλλαγές</li>
          <li>σας παρέχουμε πληροφορίες για τοπικές υπηρεσίες</li>
          <li>παρακολουθούμε τη χρήση του ιστότοπου για τον εντοπισμό απειλών ασφαλείας</li>
          <li>παρακολουθούμε την απόδοση του ιστότοπου για τον εντοπισμό αναποτελεσματικοτήτων</li>
        </ul>

        <p class="govuk-body">
          Χρησιμοποιούμε τις πληροφορίες που συλλέγουμε μέσω Google Analytics για να δούμε πώς χρησιμοποιείτε το gov.gr και πόσο καλά λειτουργεί ο ιστότοπος στη συσκευή σας.
        </p>

        <p class="govuk-body">Αυτό το κάνουμε για να βοηθήσουμε:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>να διασφαλίσουμε ότι το gov.gr ανταποκρίνεται στις ανάγκες των χρηστών του</li>
          <li>να κάνουμε βελτιώσεις, για παράδειγμα βελτίωση της αναζήτησης στον ιστότοπο</li>
          <li>να βελτιώσουμε την απόδοση, για παράδειγμα τον χρόνο φόρτωσης σελίδων</li>
        </ul>

        <h2 class="govuk-heading-l" id="nomiki-vasi">Νομική βάση επεξεργασίας των δεδομένων σας</h2>

        <p class="govuk-body">
          Η νομική βάση για την επεξεργασία προσωπικών δεδομένων σε σχέση με την ασφάλεια του ιστότοπου είναι τα έννομα συμφέροντά μας και τα έννομα συμφέροντα των χρηστών μας για τη διασφάλιση της ασφάλειας και ακεραιότητας του gov.gr.
        </p>

        <p class="govuk-body">
          Η νομική βάση για την επεξεργασία δεδομένων που συλλέγονται με Google Analytics στο gov.gr και σε άλλες κυβερνητικές ψηφιακές υπηρεσίες είναι η συγκατάθεσή σας.
        </p>

        <p class="govuk-body">Η νομική βάση για την επεξεργασία όλων των άλλων προσωπικών δεδομένων είναι ότι είναι απαραίτητη:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>για την εκτέλεση καθήκοντος δημοσίου συμφέροντος</li>
          <li>κατά την άσκηση των αρμοδιοτήτων μας ως κυβερνητικό υπουργείο</li>
        </ul>

        <p class="govuk-body">
          Η επεξεργασία βασίζεται στον <abbr title="Γενικός Κανονισμός Προστασίας Δεδομένων">ΓΚΠΔ</abbr> (Κανονισμός ΕΕ 2016/679) και στον Νόμο 4624/2019 για την προστασία δεδομένων προσωπικού χαρακτήρα.
        </p>

        <h2 class="govuk-heading-l" id="ti-kanoume-me-ta-dedomena-sas">Τι κάνουμε με τα δεδομένα σας</h2>

        <p class="govuk-body">
          Τα δεδομένα που συλλέγουμε ενδέχεται να κοινοποιηθούν σε άλλα κυβερνητικά υπουργεία, υπηρεσίες και οργανισμούς. Ενδέχεται επίσης να κοινοποιηθούν στους τεχνολογικούς παρόχους μας, για παράδειγμα τον πάροχο φιλοξενίας μας.
        </p>

        <p class="govuk-body">
          Θα κοινοποιήσουμε τα δεδομένα σας εάν υποχρεούμαστε από τον νόμο — για παράδειγμα, βάσει δικαστικής εντολής ή για την αποτροπή απάτης ή άλλου εγκλήματος.
        </p>

        <p class="govuk-body">
          Τα δεδομένα που συλλέγουμε με cookies Google Analytics μεταφέρονται και αποθηκεύονται στην Google, όπου τα αναλύουμε με λογισμικό Google Analytics (GA4). Δεν επιτρέπουμε στην Google να χρησιμοποιεί ή να μοιράζεται αυτά τα δεδομένα για δικούς της σκοπούς.
        </p>

        <p class="govuk-body">Δεν θα:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>πωλούμε ή εκμισθώνουμε τα δεδομένα σας σε τρίτους</li>
          <li>κοινοποιούμε τα δεδομένα σας σε τρίτους για σκοπούς εμπορικής προώθησης</li>
        </ul>

        <h2 class="govuk-heading-l" id="poso-diatirame-ta-dedomena-sas">Για πόσο χρόνο διατηρούμε τα δεδομένα σας</h2>

        <p class="govuk-body">
          Θα διατηρούμε τα προσωπικά σας δεδομένα μόνο για όσο χρόνο απαιτείται για τους σκοπούς που ορίζονται στο παρόν έγγραφο ή για όσο χρόνο ορίζει ο νόμος.
        </p>

        <p class="govuk-body">Θα:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>διατηρούμε τα δεδομένα email σας έως ότου διαγραφείτε</li>
          <li>διατηρούμε τα δεδομένα σχολίων σας για 2 χρόνια</li>
          <li>διαγράφουμε δεδομένα αρχείων καταγραφής πρόσβασης που περιέχουν τη διεύθυνση <abbr title="Internet Protocol">IP</abbr> σας μετά από 120 ημέρες</li>
        </ul>

        <h2 class="govuk-heading-l" id="prostasia-paidion">Προστασία απορρήτου παιδιών</h2>

        <p class="govuk-body">
          Οι υπηρεσίες μας δεν έχουν σχεδιαστεί για, ούτε απευθύνονται εσκεμμένα σε, παιδιά 13 ετών ή νεότερα. Δεν συλλέγουμε ούτε διατηρούμε εσκεμμένα δεδομένα για άτομα κάτω των 13 ετών.
        </p>

        <h2 class="govuk-heading-l" id="pou-episekeptonetai-ta-dedomena-sas">Πού επεξεργάζονται και αποθηκεύονται τα δεδομένα σας</h2>

        <p class="govuk-body">
          Σχεδιάζουμε, κατασκευάζουμε και λειτουργούμε τα συστήματά μας ώστε τα δεδομένα σας να είναι όσο το δυνατόν ασφαλέστερα, τόσο κατά την επεξεργασία όσο και κατά την αποθήκευσή τους.
        </p>

        <p class="govuk-body">
          Όλα τα προσωπικά δεδομένα αποθηκεύονται εντός του <abbr title="Ευρωπαϊκός Οικονομικός Χώρος">ΕΟΧ</abbr> (Ευρωπαϊκού Οικονομικού Χώρου). Δεδομένα που συλλέγονται από το Google Analytics ενδέχεται να διαβιβαστούν εκτός <abbr title="Ευρωπαϊκός Οικονομικός Χώρος">ΕΟΧ</abbr> για επεξεργασία σύμφωνα με τους ισχύοντες κανονισμούς.
        </p>

        <h2 class="govuk-heading-l" id="pos-prostateume-ta-dedomena-sas">Πώς προστατεύουμε τα δεδομένα σας και τα διατηρούμε ασφαλή</h2>

        <p class="govuk-body">
          Δεσμευόμαστε να κάνουμε ό,τι μπορούμε για να διατηρούμε τα δεδομένα σας ασφαλή. Έχουμε εγκαταστήσει συστήματα και διαδικασίες για την αποτροπή μη εξουσιοδοτημένης πρόσβασης ή αποκάλυψης των δεδομένων σας — για παράδειγμα, προστατεύουμε τα δεδομένα σας χρησιμοποιώντας διάφορα επίπεδα κρυπτογράφησης.
        </p>

        <p class="govuk-body">
          Διασφαλίζουμε επίσης ότι τυχόν τρίτοι με τους οποίους συνεργαζόμαστε διατηρούν ασφαλή όλα τα προσωπικά δεδομένα που επεξεργάζονται για λογαριασμό μας.
        </p>

        <h2 class="govuk-heading-l" id="ta-dikaiomata-sas">Τα δικαιώματά σας</h2>

        <p class="govuk-body">Έχετε το δικαίωμα να ζητήσετε:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>πληροφορίες σχετικά με τον τρόπο επεξεργασίας των προσωπικών σας δεδομένων</li>
          <li>αντίγραφο αυτών των προσωπικών δεδομένων</li>
          <li>τη διόρθωση οποιουδήποτε ανακριβούς στοιχείου στα προσωπικά σας δεδομένα άμεσα</li>
        </ul>

        <p class="govuk-body">Μπορείτε επίσης να:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>εναντιωθείτε στον τρόπο επεξεργασίας των προσωπικών σας δεδομένων</li>
          <li>ζητήσετε τη διαγραφή των προσωπικών σας δεδομένων εάν δεν υπάρχει πλέον δικαιολογία για αυτά</li>
          <li>ζητήσετε τον περιορισμό της επεξεργασίας των προσωπικών σας δεδομένων υπό ορισμένες περιστάσεις</li>
        </ul>

        <p class="govuk-body">Εάν έχετε οποιαδήποτε από αυτές τις αιτήσεις, επικοινωνήστε με την Ομάδα Προστασίας Δεδομένων μας.</p>

        <div class="govuk-inset-text">
          <p class="govuk-body">
            Ομάδα Προστασίας Δεδομένων<br />
            <a class="govuk-link" href="mailto:dpo@mindigital.gr">dpo@mindigital.gr</a>
          </p>
        </div>

        <h2 class="govuk-heading-l" id="sundesmoi-allous-istotopous">Σύνδεσμοι σε άλλους ιστότοπους</h2>

        <p class="govuk-body">Το gov.gr περιέχει συνδέσμους σε άλλους ιστότοπους.</p>

        <p class="govuk-body">
          Αυτή η ειδοποίηση απορρήτου ισχύει μόνο για το gov.gr και δεν καλύπτει άλλες κυβερνητικές υπηρεσίες και συναλλαγές που συνδέουμε. Αυτές οι υπηρεσίες, όπως η ΑΑΔΕ ή ο ΕΦΚΑ, έχουν τους δικούς τους όρους και τις δικές τους πολιτικές απορρήτου.
        </p>

        <h3 class="govuk-heading-m" id="akolouthontas-sundesmo-allou-istotopou">Ακολουθώντας σύνδεσμο σε άλλον ιστότοπο</h3>

        <p class="govuk-body">
          Εάν μεταβείτε σε άλλον ιστότοπο από αυτόν, διαβάστε την πολιτική απορρήτου εκείνου του ιστότοπου για να μάθετε τι κάνει με τις πληροφορίες σας.
        </p>

        <h3 class="govuk-heading-m" id="akolouthontas-sundesmo-pros-govgr">Ακολουθώντας σύνδεσμο προς το gov.gr από άλλον ιστότοπο</h3>

        <p class="govuk-body">
          Εάν έρθετε στο gov.gr από άλλον ιστότοπο, ενδέχεται να λάβουμε προσωπικές πληροφορίες από αυτόν. Διαβάστε την πολιτική απορρήτου του ιστότοπου από τον οποίο ήρθατε για να μάθετε περισσότερα.
        </p>

        <h2 class="govuk-heading-l" id="epikoinonia-kai-paragelia">Επικοινωνήστε μαζί μας ή υποβάλετε καταγγελία</h2>

        <p class="govuk-body">
          Το <abbr title="Υπουργείο Ψηφιακής Διακυβέρνησης">ΥΨΔ</abbr> ενεργεί ως από κοινού υπεύθυνος επεξεργασίας για τα προσωπικά δεδομένα που δημοσιεύονται στο gov.gr μαζί με άλλα κυβερνητικά υπουργεία, υπηρεσίες και δημόσιους φορείς.
        </p>

        <p class="govuk-body">
          Εάν ακολουθήσετε σύνδεσμο σε υπηρεσία άλλου υπουργείου, υπηρεσίας ή ΟΤΑ, ο αντίστοιχος οργανισμός θα είναι ο υπεύθυνος επεξεργασίας δεδομένων.
        </p>

        <p class="govuk-body">
          Εάν έχετε ερώτηση για τα δεδομένα σας εντός άλλης υπηρεσίας, πρέπει να επικοινωνήσετε με τον οργανισμό που διαθέτει αυτά τα δεδομένα. Το <abbr title="Υπουργείο Ψηφιακής Διακυβέρνησης">ΥΨΔ</abbr> δεν έχει πρόσβαση σε αυτά. Η ειδοποίηση απορρήτου του οργανισμού θα περιγράφει τον τρόπο επικοινωνίας.
        </p>

        <p class="govuk-body">Επικοινωνήστε με την Ομάδα Προστασίας Δεδομένων του <abbr title="Υπουργείο Ψηφιακής Διακυβέρνησης">ΥΨΔ</abbr> εάν:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>έχετε ερώτηση για οτιδήποτε αναφέρεται στην παρούσα ειδοποίηση απορρήτου</li>
          <li>πιστεύετε ότι τα προσωπικά σας δεδομένα στο gov.gr έχουν χρησιμοποιηθεί ή διαχειριστεί παρανόμως</li>
        </ul>

        <div class="govuk-inset-text">
          <p class="govuk-body">
            Ομάδα Προστασίας Δεδομένων<br />
            <a class="govuk-link" href="mailto:dpo@mindigital.gr">dpo@mindigital.gr</a>
          </p>
        </div>

        <p class="govuk-body">Μπορείτε επίσης να επικοινωνήσετε με τον Υπεύθυνο Προστασίας Δεδομένων (<abbr title="Υπεύθυνος Προστασίας Δεδομένων">ΥΠΔ</abbr>):</p>

        <div class="govuk-inset-text">
          <p class="govuk-body">
            Υπεύθυνος Προστασίας Δεδομένων<br />
            Υπουργείο Ψηφιακής Διακυβέρνησης<br />
            Φραγκούδη 11 &amp; Αλεξάνδρου Πάντου 3<br />
            Καλλιθέα 101 63, Αθήνα<br />
            <a class="govuk-link" href="mailto:dpo@mindigital.gr">dpo@mindigital.gr</a>
          </p>
        </div>

        <p class="govuk-body">
          Εάν δεν είστε ικανοποιημένοι με τον τρόπο που το <abbr title="Υπουργείο Ψηφιακής Διακυβέρνησης">ΥΨΔ</abbr> χειρίστηκε τα προσωπικά σας δεδομένα, απευθυνθείτε αρχικά στον <abbr title="Υπεύθυνος Προστασίας Δεδομένων">ΥΠΔ</abbr>.
        </p>

        <p class="govuk-body">
          Ο <abbr title="Υπεύθυνος Προστασίας Δεδομένων">ΥΠΔ</abbr> παρέχει ανεξάρτητες συμβουλές και παρακολουθεί τη χρήση προσωπικών πληροφοριών από εμάς.
        </p>

        <p class="govuk-body">
          Μπορείτε επίσης να υποβάλετε καταγγελία στην Αρχή Προστασίας Δεδομένων Προσωπικού Χαρακτήρα (<abbr title="Αρχή Προστασίας Δεδομένων Προσωπικού Χαρακτήρα">ΑΠΔΠΧ</abbr>), η οποία είναι ανεξάρτητη εποπτική αρχή.
        </p>

        <div class="govuk-inset-text">
          <p class="govuk-body">
            Αρχή Προστασίας Δεδομένων Προσωπικού Χαρακτήρα (<abbr title="Αρχή Προστασίας Δεδομένων Προσωπικού Χαρακτήρα">ΑΠΔΠΧ</abbr>)<br />
            <a class="govuk-link" href="mailto:contact@dpa.gr">contact@dpa.gr</a><br />
            Τηλ.: 210 647 5600<br />
            Δευτέρα έως Παρασκευή, 9:00–13:00<br />
            <a class="govuk-link" rel="external" href="https://www.dpa.gr/">www.dpa.gr</a>
          </p>
        </div>

        <div class="govuk-inset-text">
          <address class="govuk-body" style="font-style: normal;">
            Αρχή Προστασίας Δεδομένων Προσωπικού Χαρακτήρα<br />
            Κηφισίας 1–3<br />
            115 23, Αθήνα
          </address>
        </div>

        <h2 class="govuk-heading-l" id="allages-politikis">Αλλαγές στην παρούσα πολιτική</h2>

        <p class="govuk-body">
          Ενδέχεται να αλλάξουμε την παρούσα πολιτική απορρήτου. Σε αυτή την περίπτωση, θα αλλάξει και η ημερομηνία «τελευταίας ενημέρωσης» στο κάτω μέρος αυτής της σελίδας. Τυχόν αλλαγές στην πολιτική απορρήτου θα ισχύουν άμεσα για εσάς και τα δεδομένα σας.
        </p>

        <p class="govuk-body">
          Εάν αυτές οι αλλαγές επηρεάζουν τον τρόπο επεξεργασίας των προσωπικών σας δεδομένων, το <abbr title="Υπουργείο Ψηφιακής Διακυβέρνησης">ΥΨΔ</abbr> θα λάβει εύλογα μέτρα για να σας ενημερώσει.
        </p>

        <div class="govuk-!-margin-top-6">
          <p class="govuk-body govuk-!-font-size-16 govuk-!-colour-secondary">
            Τελευταία ενημέρωση: 12 Ιουνίου 2026
          </p>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="govuk-!-margin-top-6">
          <h2 class="govuk-heading-s">Σχετικό περιεχόμενο</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="/help/about-govgr">Σχετικά με το gov.gr</a></li>
            <li><a class="govuk-link" href="/help/terms-conditions">Όροι χρήσης</a></li>
          </ul>
        </aside>
      </div>

    </div>
  </div>
</Layout>
