---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Όροι χρήσης – gov.gr"
  breadcrumbs={[
    { text: 'Αρχική', href: '/' },
    { text: 'Βοήθεια', href: '/help' },
    { text: 'Όροι χρήσης' },
  ]}
>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Όροι χρήσης</h1>

        <p class="govuk-body">
          Η παρούσα σελίδα και οι σελίδες στις οποίες παραπέμπει εξηγούν τους όρους χρήσης του gov.gr. Πρέπει να αποδεχτείτε αυτούς τους όρους για να χρησιμοποιείτε το gov.gr.
        </p>

        <h2 class="govuk-heading-l" id="poioi-eimaste">Ποιοι είμαστε</h2>

        <p class="govuk-body">
          Το gov.gr διαχειρίζεται από το <a class="govuk-link" href="/government/organisations/ministry-of-digital-governance">Υπουργείο Ψηφιακής Διακυβέρνησης</a> (<abbr title="Υπουργείο Ψηφιακής Διακυβέρνησης">ΥΨΔ</abbr>) για λογαριασμό της Ελληνικής Δημοκρατίας. Στο εξής θα αναφερόμαστε σε αυτό ως «εμείς».
        </p>

        <h2 class="govuk-heading-l" id="xrisi-tou-govgr">Χρήση του gov.gr</h2>

        <p class="govuk-body">
          Συμφωνείτε να χρησιμοποιείτε το gov.gr μόνο για νόμιμους σκοπούς. Πρέπει επίσης να το χρησιμοποιείτε κατά τρόπο που να μην παραβιάζει τα δικαιώματα τρίτων ή να περιορίζει ή να παρεμποδίζει τη χρήση και την απόλαυση του ιστότοπου από οποιονδήποτε άλλον.
        </p>

        <p class="govuk-body">
          Ενημερώνουμε το gov.gr συνεχώς. Μπορούμε να αλλάξουμε ή να αφαιρέσουμε περιεχόμενο οποιαδήποτε στιγμή χωρίς προειδοποίηση.
        </p>

        <h2 class="govuk-heading-l" id="upiresies-kai-sunallages">Υπηρεσίες και συναλλαγές</h2>

        <p class="govuk-body">
          Μπορείτε να χρησιμοποιήσετε το gov.gr για πρόσβαση σε ηλεκτρονικές κυβερνητικές υπηρεσίες και συναλλαγές, για παράδειγμα να υποβάλετε φορολογική δήλωση ή να ανανεώσετε τα έγγραφά σας.
        </p>

        <p class="govuk-body">
          Αυτές μπορεί να διαχειρίζονται από το <abbr title="Υπουργείο Ψηφιακής Διακυβέρνησης">ΥΨΔ</abbr> ή από άλλο κυβερνητικό υπουργείο ή φορέα.
        </p>

        <p class="govuk-body">
          Ορισμένες υπηρεσίες έχουν τους δικούς τους όρους χρήσης, οι οποίοι εφαρμόζονται επίσης — διαβάστε τους πριν χρησιμοποιήσετε την υπηρεσία.
        </p>

        <h2 class="govuk-heading-l" id="sundesmoi-pros-govgr">Σύνδεσμοι προς το gov.gr</h2>

        <p class="govuk-body">Καλωσορίζουμε και ενθαρρύνουμε άλλους ιστότοπους να συνδέονται με το gov.gr.</p>

        <p class="govuk-body">Πρέπει να <a class="govuk-link" href="/contact">επικοινωνήσετε μαζί μας</a> για άδεια εάν θέλετε να:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>χρεώσετε τους χρήστες του ιστότοπού σας για να κάνουν κλικ σε σύνδεσμο προς οποιαδήποτε σελίδα του gov.gr</li>
          <li>ισχυριστείτε ότι ο ιστότοπός σας συνδέεται ή υποστηρίζεται από το gov.gr ή άλλο κυβερνητικό υπουργείο ή φορέα</li>
        </ul>

        <h2 class="govuk-heading-l" id="sundesmoi-apo-govgr">Σύνδεσμοι από το gov.gr</h2>

        <p class="govuk-body">
          Το gov.gr συνδέεται με ιστότοπους που διαχειρίζονται άλλα κυβερνητικά υπουργεία και φορείς, πάροχοι υπηρεσιών ή άλλοι οργανισμοί. Δεν έχουμε κανέναν έλεγχο επί του περιεχομένου αυτών των ιστότοπων.
        </p>

        <p class="govuk-body">Δεν είμαστε υπεύθυνοι για:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>την προστασία τυχόν πληροφοριών που παρέχετε σε αυτούς τους ιστότοπους</li>
          <li>τυχόν απώλεια ή ζημία που ενδέχεται να προκύψει από τη χρήση αυτών των ιστότοπων ή άλλων ιστότοπων στους οποίους αυτοί παραπέμπουν</li>
        </ul>

        <p class="govuk-body">
          Συμφωνείτε να μας απαλλάσσετε από τυχόν αξιώσεις ή διαφορές που ενδέχεται να προκύψουν από τη χρήση αυτών των ιστότοπων.
        </p>

        <p class="govuk-body">
          Πρέπει να διαβάσετε όλους τους όρους χρήσης, τις πολιτικές απορρήτου και τις άδειες τελικού χρήστη που αφορούν αυτούς τους ιστότοπους πριν τους χρησιμοποιήσετε.
        </p>

        <h2 class="govuk-heading-l" id="xrisi-periexomenou-govgr">Χρήση περιεχομένου gov.gr</h2>

        <p class="govuk-body">
          Το μεγαλύτερο μέρος του περιεχομένου στο gov.gr υπόκειται σε προστασία πνευματικής ιδιοκτησίας της Ελληνικής Δημοκρατίας και δημοσιεύεται υπό την άδεια
          <a class="govuk-link" rel="external" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 (CC BY 4.0)</a>,
          η οποία ορίζει επίσης ποιο περιεχόμενο εξαιρείται.
        </p>

        <p class="govuk-body">
          Εάν κάποιο περιεχόμενο δεν υπόκειται σε πνευματική ιδιοκτησία της Ελληνικής Δημοκρατίας ή δεν δημοσιεύεται υπό την CC BY 4.0, συνήθως αναφέρουμε τον συγγραφέα ή τον κάτοχο των πνευματικών δικαιωμάτων.
        </p>

        <p class="govuk-body">
          Μπορείτε να αναπαράγετε περιεχόμενο που δημοσιεύεται στο gov.gr υπό την CC BY 4.0, εφόσον τηρείτε τους όρους της άδειας.
        </p>

        <p class="govuk-body">
          <a class="govuk-link" href="/contact">Επικοινωνήστε μαζί μας</a> εάν θέλετε να αναπαράγετε κάποιο περιεχόμενο αλλά δεν είστε σίγουροι αν καλύπτεται από τους παραπάνω όρους.
        </p>

        <p class="govuk-body">
          Διαθέτουμε το μεγαλύτερο μέρος του περιεχομένου του gov.gr μέσω ροών δεδομένων για χρήση από άλλους ιστότοπους και εφαρμογές. Οι ιστότοποι και οι εφαρμογές που χρησιμοποιούν τις ροές μας δεν είναι προϊόντα μας και ενδέχεται να χρησιμοποιούν εκδόσεις του περιεχομένου μας που έχουν επεξεργαστεί και αποθηκευτεί για μελλοντική χρήση («cached»).
        </p>

        <p class="govuk-body">
          Δεν παρέχουμε καμία εγγύηση, προϋπόθεση ή ασφάλεια σχετικά με την ακρίβεια ή την πληρότητα οποιουδήποτε περιεχομένου που χρησιμοποιείται από αυτά τα προϊόντα. Δεν ευθυνόμαστε για τυχόν απώλεια ή ζημία που ενδέχεται να προκύψει από τη χρήση τους.
        </p>

        <p class="govuk-body">Η πιο ενημερωμένη έκδοση του περιεχομένου μας θα βρίσκεται πάντα στο gov.gr.</p>

        <h2 class="govuk-heading-l" id="apopasi-euthunis">Αποποίηση ευθύνης</h2>

        <p class="govuk-body">Παρόλο που καταβάλλουμε κάθε προσπάθεια για να διατηρούμε το gov.gr ενημερωμένο, δεν παρέχουμε καμία εγγύηση, προϋπόθεση ή ασφάλεια ότι οι πληροφορίες θα είναι:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>επίκαιρες</li>
          <li>ασφαλείς</li>
          <li>ακριβείς</li>
          <li>πλήρεις</li>
          <li>απαλλαγμένες από σφάλματα ή ιούς</li>
        </ul>

        <p class="govuk-body">
          Δεν δημοσιεύουμε συμβουλές στο gov.gr. Θα πρέπει να ζητάτε επαγγελματική ή εξειδικευμένη συμβουλή πριν προβείτε σε οποιαδήποτε ενέργεια βάσει του περιεχομένου.
        </p>

        <p class="govuk-body">Δεν ευθυνόμαστε για τυχόν απώλεια ή ζημία που ενδέχεται να προκύψει από τη χρήση του gov.gr. Αυτό περιλαμβάνει:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>οποιεσδήποτε άμεσες, έμμεσες ή επακόλουθες απώλειες</li>
          <li>οποιαδήποτε απώλεια ή ζημία που προκαλείται από αδικοπραξία (συμπεριλαμβανομένης της αμέλειας), παραβίαση σύμβασης ή άλλως</li>
          <li>τη χρήση του gov.gr και οποιωνδήποτε ιστότοπων που συνδέονται με αυτό</li>
          <li>την αδυναμία χρήσης του gov.gr και οποιωνδήποτε ιστότοπων που συνδέονται με αυτό</li>
        </ul>

        <p class="govuk-body">
          Αυτό ισχύει εάν η απώλεια ή η ζημία ήταν προβλέψιμη, προέκυψε στο πλαίσιο της κανονικής πορείας των πραγμάτων ή μας είχατε ενημερώσει ότι μπορεί να συμβεί.
        </p>

        <p class="govuk-body">Αυτό περιλαμβάνει (μεταξύ άλλων) την απώλεια:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>εισοδήματος ή εσόδων</li>
          <li>μισθού, παροχών ή άλλων πληρωμών</li>
          <li>επιχειρηματικής δραστηριότητας</li>
          <li>κερδών ή συμβάσεων</li>
          <li>ευκαιριών</li>
          <li>αναμενόμενων εξοικονομήσεων</li>
          <li>δεδομένων</li>
          <li>φήμης ή υπεραξίας</li>
          <li>υλικής περιουσίας</li>
          <li>άυλης περιουσίας, συμπεριλαμβανομένης απώλειας, καταστροφής ή βλάβης δεδομένων ή οποιουδήποτε συστήματος υπολογιστή</li>
          <li>σπατάλης χρόνου διοίκησης ή γραφείου</li>
        </ul>

        <p class="govuk-body">Ενδέχεται να εξακολουθούμε να ευθυνόμαστε για:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>θάνατο ή σωματική βλάβη που προκύπτει από αμέλειά μας</li>
          <li>δόλια παρουσίαση στοιχείων</li>
          <li>οποιαδήποτε άλλη ευθύνη που δεν μπορεί να αποκλειστεί ή να περιοριστεί βάσει του εφαρμοστέου δικαίου</li>
        </ul>

        <h2 class="govuk-heading-l" id="aitimata-afairesis-periexomenou">Αιτήματα αφαίρεσης περιεχομένου</h2>

        <p class="govuk-body">Μπορείτε να ζητήσετε την αφαίρεση περιεχομένου από το gov.gr. Θα αφαιρέσουμε περιεχόμενο:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>για τη συμμόρφωση με τη νομοθεσία προστασίας δεδομένων που αφορά τα δικαιώματα και τις ελευθερίες των φυσικών προσώπων</li>
          <li>εάν παραβιάζει νόμους πνευματικής ιδιοκτησίας, περιέχει ευαίσθητα προσωπικά δεδομένα ή υλικό που θα μπορούσε να θεωρηθεί άσεμνο ή συκοφαντικό</li>
        </ul>

        <p class="govuk-body">
          <a class="govuk-link" href="/contact">Επικοινωνήστε μαζί μας</a> για να ζητήσετε την αφαίρεση περιεχομένου. Θα χρειαστεί να μας αποστείλετε τη διεύθυνση ιστού (URL) του περιεχομένου και να εξηγήσετε γιατί πιστεύετε ότι πρέπει να αφαιρεθεί. Θα σας απαντήσουμε για να σας ενημερώσουμε αν θα το αφαιρέσουμε.
        </p>

        <p class="govuk-body">
          Αφαιρούμε περιεχόμενο κατά διακριτική ευχέρεια σε συνεννόηση με το υπουργείο ή τον φορέα που είναι υπεύθυνος για αυτό. Μπορείτε ακόμα να ζητήσετε πληροφορίες βάσει του <a class="govuk-link" href="/freedom-of-information">Νόμου για την Πρόσβαση στα Δημόσια Έγγραφα</a> και του <a class="govuk-link" href="/data-protection">Νόμου 4624/2019 για την Προστασία Δεδομένων</a>.
        </p>

        <h2 class="govuk-heading-l" id="pliroforios-gia-sas">Πληροφορίες για εσάς και τις επισκέψεις σας στο gov.gr</h2>

        <p class="govuk-body">
          Συλλέγουμε πληροφορίες για εσάς σύμφωνα με την <a class="govuk-link" href="/help/privacy-notice">ειδοποίηση απορρήτου</a> και την <a class="govuk-link" href="/help/cookies">πολιτική cookies</a> μας. Χρησιμοποιώντας το gov.gr, συμφωνείτε με τη συλλογή αυτών των πληροφοριών και επιβεβαιώνετε ότι τυχόν δεδομένα που παρέχετε είναι ακριβή.
        </p>

        <h2 class="govuk-heading-l" id="prostasia-apo-ious">Προστασία από ιούς</h2>

        <p class="govuk-body">
          Καταβάλλουμε κάθε προσπάθεια για τον έλεγχο και τη δοκιμή του gov.gr για ιούς σε κάθε στάδιο παραγωγής. Πρέπει να διασφαλίσετε ότι ο τρόπος χρήσης του gov.gr από εσάς δεν σας εκθέτει σε κίνδυνο ιών, κακόβουλου κώδικα ή άλλων μορφών παρεμβολής που μπορούν να βλάψουν το σύστημα του υπολογιστή σας.
        </p>

        <p class="govuk-body">
          Δεν ευθυνόμαστε για τυχόν απώλεια, διακοπή ή βλάβη στα δεδομένα ή στο σύστημα του υπολογιστή σας που ενδέχεται να προκύψει κατά τη χρήση του gov.gr.
        </p>

        <h2 class="govuk-heading-l" id="ioi-hacking-kai-alla-axiodikata">Ιοί, hacking και άλλα αδικήματα</h2>

        <p class="govuk-body">
          Κατά τη χρήση του gov.gr, δεν επιτρέπεται να εισάγετε ιούς, trojans, worms, logic bombs ή οποιοδήποτε άλλο υλικό που είναι κακόβουλο ή τεχνολογικά επιζήμιο.
        </p>

        <p class="govuk-body">
          Δεν επιτρέπεται να επιχειρείτε να αποκτήσετε μη εξουσιοδοτημένη πρόσβαση στο gov.gr, στον διακομιστή στον οποίο φιλοξενείται ή σε οποιονδήποτε διακομιστή, υπολογιστή ή βάση δεδομένων συνδεδεμένη με αυτό.
        </p>

        <p class="govuk-body">
          Δεν επιτρέπεται να επιτεθείτε στο gov.gr με οποιονδήποτε τρόπο. Αυτό περιλαμβάνει επιθέσεις άρνησης υπηρεσίας (DDoS).
        </p>

        <p class="govuk-body">
          Θα αναφέρουμε τυχόν επιθέσεις ή απόπειρες μη εξουσιοδοτημένης πρόσβασης στο gov.gr στις αρμόδιες αρχές επιβολής του νόμου και θα μοιραστούμε πληροφορίες για εσάς μαζί τους.
        </p>

        <h2 class="govuk-heading-l" id="efarmosteo-dikaio">Εφαρμοστέο δίκαιο</h2>

        <p class="govuk-body">
          Οι παρόντες όροι χρήσης διέπονται από και ερμηνεύονται σύμφωνα με τους νόμους της Ελληνικής Δημοκρατίας.
        </p>

        <p class="govuk-body">
          Οποιαδήποτε διαφορά σχετίζεται με τους παρόντες όρους χρήσης ή με τη χρήση του gov.gr (είτε συμβατική είτε εξωσυμβατική) υπάγεται στην αποκλειστική δικαιοδοσία των ελληνικών δικαστηρίων.
        </p>

        <h2 class="govuk-heading-l" id="genika">Γενικά</h2>

        <p class="govuk-body">
          Ενδέχεται να υπάρχουν νομικές ανακοινώσεις αλλού στο gov.gr που αφορούν τον τρόπο χρήσης του ιστότοπου.
        </p>

        <p class="govuk-body">
          Δεν ευθυνόμαστε εάν αδυνατούμε να συμμορφωθούμε με τους παρόντες όρους χρήσης λόγω περιστάσεων πέραν του εύλογου ελέγχου μας.
        </p>

        <p class="govuk-body">
          Ενδέχεται να αποφασίσουμε να μην ασκήσουμε ή να μην επιβάλουμε οποιοδήποτε δικαίωμα που μας παρέχεται δυνάμει των παρόντων όρων χρήσης. Μπορούμε πάντα να αποφασίσουμε να ασκήσουμε ή να επιβάλουμε αυτό το δικαίωμα σε μεταγενέστερη ημερομηνία.
        </p>

        <p class="govuk-body">
          Η εφάπαξ μη άσκηση ενός δικαιώματος δεν σημαίνει αυτόματα παραίτηση από αυτό σε οποιαδήποτε άλλη περίσταση.
        </p>

        <p class="govuk-body">
          Εάν οποιοσδήποτε από τους παρόντες όρους χρήσης κριθεί άκυρος, ανεφάρμοστος ή παράνομος για οποιονδήποτε λόγο, οι υπόλοιποι όροι χρήσης θα εξακολουθούν να ισχύουν.
        </p>

        <h2 class="govuk-heading-l" id="allages-orwn">Αλλαγές στους παρόντες όρους χρήσης</h2>

        <p class="govuk-body">
          Ελέγχετε τακτικά τους παρόντες όρους χρήσης. Μπορούμε να τους ενημερώνουμε οποιαδήποτε στιγμή χωρίς προειδοποίηση.
        </p>

        <p class="govuk-body">
          Θα συμφωνείτε με τυχόν αλλαγές εάν συνεχίσετε να χρησιμοποιείτε το gov.gr μετά την ενημέρωση των όρων χρήσης.
        </p>

        <div class="govuk-!-margin-top-6">
          <p class="govuk-body govuk-!-font-size-16 govuk-!-colour-secondary">
            Τελευταία ενημέρωση: 12 Ιουνίου 2026
          </p>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="govuk-!-margin-top-6">
          <h2 class="govuk-heading-s">Σχετικό περιεχόμενο</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="/help/privacy-notice">Ειδοποίηση απορρήτου</a></li>
            <li><a class="govuk-link" href="/help/about-govgr">Σχετικά με το gov.gr</a></li>
          </ul>
        </aside>
      </div>

    </div>
  </div>
</Layout>
