---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Η σελίδα δεν βρέθηκε – gov.gr">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
          Η σελίδα δεν βρέθηκε
        </h1>
        <p class="govuk-body">Εάν εισαγάγατε μια διεύθυνση ιστού, ελέγξτε αν είναι σωστή.</p>
        <p class="govuk-body">Μπορείτε να <a class="govuk-link" href="/">περιηγηθείτε από την αρχική σελίδα</a> ή να χρησιμοποιήσετε το πλαίσιο αναζήτησης για να βρείτε αυτό που χρειάζεστε.</p>
        <pre class="govuk-!-margin-top-8">Κωδικός κατάστασης: 404</pre>
      </div>
    </div>
  </div>
</Layout>
