---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Βρείτε στοιχεία επικοινωνίας για υπηρεσίες – gov.gr"
  breadcrumbs={[
    { text: 'Αρχική', href: '/' },
    { text: 'Επικοινωνία' },
  ]}
>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Βρείτε στοιχεία επικοινωνίας για υπηρεσίες</h1>

        <ul class="gem-c-document-list govuk-!-margin-bottom-5">

          <li class="gem-c-document-list__item">
            <div class="gem-c-document-list__item-title">
              <a class="govuk-link" href="/contact-dypa">ΔΥΠΑ – Επίδομα ανεργίας και υπηρεσίες απασχόλησης</a>
            </div>
            <p class="gem-c-document-list__item-description">
              Επικοινωνήστε με τη Δημόσια Υπηρεσία Απασχόλησης για βοήθεια με αίτηση επιδόματος ανεργίας ή άλλες παροχές εργασίας.
            </p>
          </li>

          <li class="gem-c-document-list__item">
            <div class="gem-c-document-list__item-title">
              <a class="govuk-link" href="/contact-driving-licences">Άδεια οδήγησης και τέλη κυκλοφορίας</a>
            </div>
            <p class="gem-c-document-list__item-description">
              Επικοινωνήστε με το Υπουργείο Υποδομών και Μεταφορών για ερωτήματα σχετικά με άδειες οδήγησης, τέλη κυκλοφορίας και εγγραφή οχημάτων.
            </p>
          </li>

          <li class="gem-c-document-list__item">
            <div class="gem-c-document-list__item-title">
              <a class="govuk-link" href="/contact-aade">ΑΑΔΕ – Ανεξάρτητη Αρχή Δημοσίων Εσόδων</a>
            </div>
            <p class="gem-c-document-list__item-description">
              Επικοινωνήστε με την ΑΑΔΕ για ερωτήματα σχετικά με φόρους, φορολογικές δηλώσεις και ΦΠΑ.
            </p>
          </li>

          <li class="gem-c-document-list__item">
            <div class="gem-c-document-list__item-title">
              <a class="govuk-link" href="/contact-passport">Διαβατήρια: συμβουλές και παράπονα</a>
            </div>
            <p class="gem-c-document-list__item-description">
              Λάβετε βοήθεια με αίτηση ή ανανέωση διαβατηρίου μέσω της Ελληνικής Αστυνομίας ή του Υπουργείου Εξωτερικών.
            </p>
          </li>

          <li class="gem-c-document-list__item">
            <div class="gem-c-document-list__item-title">
              <a class="govuk-link" href="/contact-iky">ΙΚΥ – Υποτροφίες και φοιτητικά δάνεια</a>
            </div>
            <p class="gem-c-document-list__item-description">
              Λάβετε βοήθεια με αιτήσεις υποτροφιών και φοιτητικών δανείων από το Ίδρυμα Κρατικών Υποτροφιών.
            </p>
          </li>

          <li class="gem-c-document-list__item">
            <div class="gem-c-document-list__item-title">
              <a class="govuk-link" href="/contact-opeka">ΟΠΕΚΑ – Κοινωνικές παροχές</a>
            </div>
            <p class="gem-c-document-list__item-description">
              Λάβετε συμβουλές για παροχές όπως επίδομα παιδιού, επίδομα στέγασης και άλλες κοινωνικές ενισχύσεις.
            </p>
          </li>

          <li class="gem-c-document-list__item">
            <div class="gem-c-document-list__item-title">
              <a class="govuk-link" href="/contact-migration">Υπηρεσία Αλλοδαπών και Μετανάστευσης</a>
            </div>
            <p class="gem-c-document-list__item-description">
              Επικοινωνήστε με την Υπηρεσία Αλλοδαπών και Μετανάστευσης για ερωτήματα σχετικά με την αίτησή σας.
            </p>
          </li>

        </ul>

        <details class="govuk-details govuk-!-margin-bottom-3">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Περισσότερα θέματα</span>
          </summary>
          <div class="govuk-details__text">

            <ul class="gem-c-document-list govuk-!-margin-bottom-5">

              <li class="gem-c-document-list__item">
                <div class="gem-c-document-list__item-title">
                  <a class="govuk-link" rel="external" href="https://www.cybercrimeunit.gov.gr">Αναφορά ηλεκτρονικής απάτης</a>
                </div>
                <p class="gem-c-document-list__item-description">
                  Επικοινωνήστε με τη Διεύθυνση Δίωξης Ηλεκτρονικού Εγκλήματος για να αναφέρετε απάτη ή να ενημερώσετε ότι έχετε πέσει θύμα διαδικτυακής απάτης.
                </p>
              </li>

              <li class="gem-c-document-list__item">
                <div class="gem-c-document-list__item-title">
                  <a class="govuk-link" href="/contact-opeka-child-benefit">ΟΠΕΚΑ – Επίδομα παιδιού</a>
                </div>
                <p class="gem-c-document-list__item-description">
                  Επικοινωνήστε με τον ΟΠΕΚΑ για να αναφέρετε αλλαγή στοιχείων, να λάβετε τον αριθμό παροχής σας ή να υποβάλετε γενικό αίτημα.
                </p>
              </li>

              <li class="gem-c-document-list__item">
                <div class="gem-c-document-list__item-title">
                  <a class="govuk-link" href="/contact-ypes">Υπουργείο Υποδομών και Μεταφορών</a>
                </div>
                <p class="gem-c-document-list__item-description">
                  Επικοινωνήστε με το Υπουργείο Υποδομών και Μεταφορών και τις εποπτευόμενες υπηρεσίες του.
                </p>
              </li>

              <li class="gem-c-document-list__item">
                <div class="gem-c-document-list__item-title">
                  <a class="govuk-link" href="/contact-criminal-record">Αντίγραφο ποινικού μητρώου</a>
                </div>
                <p class="gem-c-document-list__item-description">
                  Επικοινωνήστε με την αρμόδια υπηρεσία για αντίγραφο ποινικού μητρώου που απαιτείται για εργασία ή εθελοντική δραστηριότητα.
                </p>
              </li>

              <li class="gem-c-document-list__item">
                <div class="gem-c-document-list__item-title">
                  <a class="govuk-link" href="/contact-driving-tests">Εξετάσεις οδήγησης και ΚΤΕΟ</a>
                </div>
                <p class="gem-c-document-list__item-description">
                  Επικοινωνήστε με τις αρμόδιες υπηρεσίες για πληροφορίες σχετικά με εξετάσεις οδήγησης, τεχνικό έλεγχο οχημάτων (ΚΤΕΟ) και οδική ασφάλεια.
                </p>
              </li>

              <li class="gem-c-document-list__item">
                <div class="gem-c-document-list__item-title">
                  <a class="govuk-link" href="/contact-passport-abroad">Διαβατήριο για Έλληνες εξωτερικού</a>
                </div>
                <p class="gem-c-document-list__item-description">
                  Λάβετε συμβουλές για ανανέωση ή αίτηση ελληνικού διαβατηρίου εάν διαμένετε στο εξωτερικό μέσω της προξενικής αρχής.
                </p>
              </li>

              <li class="gem-c-document-list__item">
                <div class="gem-c-document-list__item-title">
                  <a class="govuk-link" href="/contact-efka">e-ΕΦΚΑ – Σύνταξη</a>
                </div>
                <p class="gem-c-document-list__item-description">
                  Επικοινωνήστε με τον e-ΕΦΚΑ για βοήθεια με αίτηση σύνταξης, επιλεξιμότητα και πληρωμές.
                </p>
              </li>

              <li class="gem-c-document-list__item">
                <div class="gem-c-document-list__item-title">
                  <a class="govuk-link" href="/contact-aade-tax-relief">ΑΑΔΕ – Φορολογικές ελαφρύνσεις</a>
                </div>
                <p class="gem-c-document-list__item-description">
                  Λάβετε συμβουλές για φορολογικές ελαφρύνσεις και ενημερώστε την ΑΑΔΕ για αλλαγές στη διεύθυνση, εργασία ή εισόδημά σας.
                </p>
              </li>

            </ul>
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <p class="govuk-body">
          Χρησιμοποιήστε τη <a class="govuk-link" href="/contact/govgr">φόρμα επικοινωνίας του gov.gr</a> για να αποστείλετε ερωτήματα ή σχόλια σχετικά με τον ιστότοπο.
        </p>
        <p class="govuk-body">
          Ελέγξτε τις <a class="govuk-link" href="/help">σελίδες βοήθειας του gov.gr</a> για πληροφορίες σχετικά με cookies, προσβασιμότητα, ειδοποίηση απορρήτου και όρους χρήσης.
        </p>

      </div>
    </div>
  </div>
</Layout>

<style>
  .gem-c-document-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .gem-c-document-list__item {
    padding: 15px 0;
    border-top: 1px solid #b1b4b6;
  }

  .gem-c-document-list__item:last-child {
    border-bottom: 1px solid #b1b4b6;
  }

  .gem-c-document-list__item-title {
    margin-bottom: 5px;
    font-weight: 700;
  }

  .gem-c-document-list__item-description {
    margin: 0;
    color: #505a5f;
  }
</style>
