---
interface Props {
  text: string;
  href: string;
  large?: boolean;
}

const { text, href, large = false } = Astro.props;
---

<div class:list={['gem-c-action-link', large && 'gem-c-action-link--large']}>
  <span class="gem-c-action-link__icon" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true" viewBox="0 0 27 27" class="gem-c-action-link__svg">
      <circle class="gem-c-action-link__icon__circle" cx="13.5" cy="13.5" r="13.5"></circle>
      <g class="gem-c-action-link__icon__arrow">
        <path d="m17.701 13.526-3.827-3.828L14.973 8.6l4.926 4.926-4.926 4.926-1.099-1.099 3.827-3.827Z"></path>
        <path d="M8.363 12.749h9.762v1.554H8.363v-1.554Z"></path>
      </g>
    </svg>
  </span>
  <span class="gem-c-action-link__link-wrapper">
    <a class="govuk-link gem-c-action-link__link" href={href}>{text}</a>
  </span>
</div>
